@using Microsoft.AspNetCore.Mvc.Localization

@model ReportsModel
@inject IViewLocalizer Localizer

@{
    Layout = "_LayoutRestricted";
    ViewData["Title"] = "Home Page";
}

<script type="application/javascript">
    function changeFlatFunction() {
        var x = document.getElementById("flatSelect").value;
        window.document.location = '@Url.Action("Index", "Home")?flatId=' + x;
    }
</script>

<h1>@Localizer["Index_Greet"]</h1>

@section nav {
    <span class="navbar-text ">@Localizer["Index_Hello", Model.UserName]</span>
}

<p>@Localizer["Index_Flat"]:</p>
<select class="custom-select mb-3" id="flatSelect" asp-items="Model.UserFlats" onchange="changeFlatFunction()">
</select>
<div>
    <a class="btn btn-primary mb-3" asp-controller="Report" asp-action="Editor" asp-route-flatId="@Model.FlatId">
        @Localizer["Index_Edit"]
    </a>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">@Localizer["Index_Date"]</th>
            <th scope="col">@Localizer["Index_Cold"]</th>
            <th scope="col">@Localizer["Index_Hot"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ReportModel rm in Model.Reports.OrderByDescending(x => x.Date))
        {
            <tr>
                <td scope="row">@rm.Date.ToString("dd.MM.yyyy HH:mm")</td>
                <td scope="row">@rm.ColdWater</td>
                <td scope="row">@rm.HotWater </td>
            </tr>
        }
    </tbody>
</table>